.css-image {
    /* color: rgb(243, 0, 0);
    font-size: 28px;
    font-family: cursive;
    font-weight: 600;
    text-decoration-line: none; */

}

.javascriptShortcut{
    color: teal;
    font-size: 18px;
    font-family: cursive;
    font-weight: 600;
    text-decoration-line: none;
}